.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.value {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.value.show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--index) * 0.1s);
}